<nav>
  
    <div class="nav-link" id="home">
      <a class="image" href="/secrets">
        <img src="/icons/home.png" />
      </a>
      <a href="/secrets">Home</a>
    </div>

    <div class="nav-link" id="history">
      <img src="/icons/calendar.png" />
      <a>History</a>
    </div>

    <div class="nav-link" id="add">
      <a href="/add-food-page" class="cross">
        <div class="hor"></div>
        <div class="ver"></div>
      </a>
      <div id="bgtr"></div>
    </div>

    <div class="nav-link" id="stats">
      <img src="/icons/statistics.png" />
      <a>Stats</a>
    </div>

    <div class="nav-link" id="settings">
      <img src="/icons/settings.png" />
      <a>Settings</a>
    </div>
    
  </nav>