<%- include('partials/header') %>

<div id="create-page">
    <h1 class="header">Create food</h1>
    <a href="/premium" title="check out our premium plan!"><img id="crown" src="/icons/crown.png" /></a>    

    <form class="card">
        
    </form>

</div>

<%- include('partials/navbar') %>

<%- include('partials/footer') %>
