<%- include('partials/header') %>

<div id="settings-page">
    <h1>Settings</h1>

    <a href="/premium" title="check out our premium plan!"><img id="crown" src="/icons/crown.png" /></a>

    <div class="mycontainer">
        <h2>Profile</h2>

        <div>
            <h3>Weight</h3>
            <button>80kg</button>
        </div>

        <div>
            <h3>Height</h3>
            <button>179</button>
        </div>

        <div>
            <h3>Activity level</h3>
            <button>high</button>
        </div>

        <div>
            <h3>Age</h3>
            <button>20</button>
        </div>

        <div>
            <h3>Gender</h3>
            <button>male</button>
        </div>

    </div class="mycontainer">

    <div class="mycontainer">
        <h2>Nutritional Goals</h2>

        <div>
            <h3>Goal</h3>
            <button>Gain</button>
        </div>
        
        <div>
            <h3>Manually update calorie goal</h3>
            <button>2800cal</button>
        </div>

        <div>
            <h3>Macronutrient Targets</h3>
            <button>30% 30% 40% </button>
        </div>
        
    </div class="mycontainer">

    <div class="mycontainer">
        <h2>General</h2>

        <div>
            <h3>Theme</h3>
            <button>Auto dark</button>
        </div>

        <div>
            <h3>Delete History</h3>
        </div>

        <div>
            <h3>Language</h3>
            <button>English</button>
        </div>
        
    </div class="mycontainer">

    <div class="mycontainer">
        <h2>Contact and support</h2>

        <div>
            <h3>Bug report</h3>
        </div>

        <div>
            <h3>Twitter</h3>
            <button>@project.com</button>
        </div>

        <div>
            <h3>FaceBook</h3>
            <button>myProject.com</button>
        </div>

        <div>
            <h3>Gmail</h3>
            <button>myProject@hmail.com</button>
        </div>
        
    </div class="mycontainer">

    <footer id="log-out-cont">
        <button id="log-out">Log Out</button>
        <small>completed days: 5</small>
        <small>Copyright 2024</small>
    </footer>
</div>

<%- include('partials/navbar') %>

<%- include('partials/footer') %>
